.context-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  padding: 0px;
  margin: 0;
  display: none;
  border: 1px solid black;
  border-radius: 5px;
  font-family: sans-serif;
  transition: all 0.3s;
}
.context-item {
  margin: 2px 2px;
  padding: 2px 2px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: lightslategray;
    color: white;

    a, small {
      color: white;
    }
  }
}

.list{
  list-style-type: none;
  margin-bottom: 0;
}